* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.class1 {
    background-color: #006633;
    padding: 20px;
    text-align: center;
}

.class1 h1 {
    color: white;
    margin: 0;
}

.class2 {
    padding: 40px 20px;
    text-align: center;
}

.class2 h2 {
    color: #5b2071;
}

.class2 p {
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
}

.class2 img {
    width: 110%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
    box-shadow: 0 5px 10px #ccc;
}

.class3 {
    display: inline-block;
    background-color: #5b2071;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.class3:hover {
    background-color: #3a104d;
}

.class4 {
    background-color: #006633;
    color: white;
    text-align: center;
    padding: 15px;
}

#ide {
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 43%;
    box-shadow: 0 0 0 ;
    border-radius: 10px;
}